button {
    background-color: #000;
    border-radius: 20px;
    padding: 10px 12px;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    transition: ease-in-out .2s;
}
button.forfeit-button {
    margin-top: 30px;
}
button.skip-button{
    float: right;
}
button.submit-button {
    padding: 10px;
    float: right;
    max-width: 150px;
}
button.home {
    margin-top: 30px;
    float: left;
}
button:hover {
    transform: scale(1.0045);
    background-color: #f4f5f6;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bold;
}
.clearfix {
    clear: both;
}